<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
  Do it!
</button>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <label for="name">Vorname</label>
  <input class="form-control" id="firstname" formControlName="firstname" minlength="3" maxlength="50" required />
  <label for="street">Nachname</label>
  <input class="form-control" id="lastname" formControlName="lastname" minlength="3" maxlength="50" required />
  <label for="email">E-Mail-Addresse</label>
  <input class="form-control" id="email" formControlName="email" type="email" required />
  <button type="submit" class="mt-2 btn btn-gucci">Absenden</button>
</form>
