<table class="table">
  <tr>
    <th>Artikel</th>
    <th>Stückpreis</th>
    <th>Anzahl</th>
    <th>Gesamtpreis</th>
  </tr>
  <tr *ngFor="let kartItem of products.getShoppingKart()">
    <td><a routerLink="/details/{{ kartItem.product.id }}">{{ kartItem.product.name }}</a></td>
    <td>
      <span class="card-text">{{ kartItem.product.discontPrice | currency: 'CHF ' }}&nbsp;</span>
      <span class="card-text text-warning"><del>{{ kartItem.product.price | currency: 'CHF ' }}</del></span>
    </td>
    <td>{{ kartItem.count }}</td>
    <td>
      {{ products.getProductTotal(kartItem) | currency: 'CHF '}}
    </td>
  </tr>
</table>
